<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">User</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          {% if user.is_authenticated %}
          <span>Loggined by user : {{user}}</span>
          <a href="{% url 'Logout' %}" type="button" class="btn btn-secondary">Logout</a>
          <a href="{% url 'details' user.id %}" type="button" class="btn btn-secondary">Details</a>

          {% else %}
          
          <a href="{% url 'customer_registration' %}" type="button" class="btn btn-success">CustomerRegister</a>
            {% comment %} <a href="{% url 'register' %}" type="button" class="btn btn-success">Register</a>
            <a href="{% url 'Login' %}" type="button" class="btn btn-primary">Login</a> {% endcomment %}
            <a href="{% url 'customer_login' %}" type="button" class="btn btn-primary">customer_login</a>
            
            {% endif %}
           
        </span>
      </div>
    </div>
  </nav>